* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: darkblue;
}

p {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}